
@keyframes bounceIn {
	0% {
		transform: scale(0.1);
		opacity: 0;
	}
	60% {
		transform: scale(1.2);
		opacity: 1;
	}
	100% {
		transform: scale(1);
	}
}

#container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.topnav {
	display: flex;
	justify-content: space-between;
	align-self: center;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.topnav a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav a:hover {
	background-color: rgb(100, 216, 100);
	color: black;
}

#root {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.greeting {
	flex-direction: column;
	display: flex;
	height: 400px;
	width: 300px;
	justify-content: center;
	animation-duration: 2s;
	animation-name: bounceIn;
}

.allItems {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.list {
	display: flex;
	justify-content: center;
	align-self: center;
	flex-grow: 2;
	margin: 1em;
	order: 1;
	width: 25%;
	animation-duration: 2s;
	animation-name: bounceIn;
}

.form {
	justify-content: center;
	align-self: center;
	flex-direction: column;
	flex-wrap: wrap;
	flex-grow: 2;
	order: 2;
	width: 25%;
	animation-duration: 2s;
	animation-name: bounceIn;
}

body {
	background-color: #cccccc;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a {
	font-size: 3rem;
	font-style: bold;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

li {
	font-size: 3rem;
	font-style: bold;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.associations a {
	font-size: 2rem;
	font-style: bold;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.associations button {
	font-size: 1rem;
}





/* form */

form input {
	width: 100%;
	padding: 0.3em;
	margin: 0.5em 0;
	font-size: 0.5em;
}

form select {
	width: 100%;
}

button {
	color: white;
	background-color: #59a9e9;
	border-radius: 8px;
	border: 2px solid black;
	transition-duration: 0s;
}

button:hover {
	background-color: white; /* Green */
	color: rgb(0, 183, 255);
}

button:disabled {
	background-color: #ccc;
}

/* utility/layout */

.warning {
	padding: 0 0.5em;
	font-size: 1em;
	letter-spacing: 0.1em;
	background-color: orange;
	color: white;
	margin-left: 1em;
}


